* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.section {
    width: 100%;
    height: 100%;
}

#first-section {
    background-image: url('https://images.unsplash.com/photo-1494976388531-d1058494cdd8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#second-section {
    background-image: url('https://cdn.guidingtech.com/media/assets/WordPress-Import/2017/06/IMG-02.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#third-section {
    background-image: url('https://images.wallpaperscraft.com/image/mercedes_benz_amg_gt_s_2016_silver_wood_night_front_view_102048_1600x1200.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#fourth-section {
    background-image: url('https://images.hdqwalls.com/wallpapers/mercedes-car-steering-full-hd.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#Last-section {
    background-image: url('https://www.hdcarwallpapers.com/walls/mercedes_amg_gts_cgi_4k-HD.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container {
    width: inherit;
    height: inherit;
    background-color: rgba(5, 5, 5, 0.125);
    padding: 5%;
}

.content {
    background-color: rgba(6, 6, 5, 0.749);
    max-width: 340px;
    margin: 5% auto;
    border-top: 1px solid white;
    border-bottom: 1px dashed white;
    border-bottom-right-radius: 60px;
    border-bottom-left-radius: 60px;
    text-align: center;
    padding: 3%;
}

.head {
    color: rgb(221, 218, 14);
    text-decoration: underline;
    margin-bottom: 15px;
    font-weight: 400;
}

.test {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-style: italic;
    margin-bottom: 15px;
}

.btn {
    width: 150px;
    height: 45px;
    font-size: 16px;
    color: rgb(52, 54, 58);
    border-radius: 5px;
    outline: none;
    margin-bottom: 15px;
}